.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player img{
    position: absolute;
    top :20px;
    left:20px;
    width: 50px;
    cursor: pointer;
}
.player iframe{
    border-radius: 10px;
    width: 80%;
    height: 90%;
    max-width: 100%;
    border: none;
    padding:  auto 70px;
}
.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}